@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.clr {
  clear: both;
}

.reward .title, .faq .faq_inside .title, .team .team_inside .title, .gallery .gallery_inside .title, .menues .menu_inside .title, .deals .deals_inside .deals_cards .deals_card .texts h4, .deals .deals_inside .deals_title, .combo .combo_title, .deliwery .deliwery_inside .deliwery_right .deliwery_title, .deliwery .deliwery_inside .deliwery_left .deliwery_title {
  color: #e7272d;
  font-family: "Permanent Marker", cursive;
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 500;
}

.reward .title + h1, .faq .faq_inside .title + h1, .team .team_inside .title + h1, .gallery .gallery_inside .title + h1, .menues .menu_inside .title + h1, .deals .deals_inside .deals_title + h1, .combo .combo_title + h1, .deliwery .deliwery_inside .deliwery_right h1, .deliwery .deliwery_inside .deliwery_left h1 {
  font-family: "Barlow", sans-serif;
  font-size: 3.8rem;
  line-height: 1.1;
  font-weight: 900;
  color: #232323;
}

.deliwery .deliwery_inside .deliwery_right p, .deliwery .deliwery_inside .deliwery_left p {
  color: #808080;
  line-height: 25px;
}

.message .message_container form input[type=submit], .subscribe .subscribe_text form input[type=submit], .menues .menu_inside .menu_wrapper .menu .button, .deliwery .deliwery_inside .deliwery_right a, .deliwery .deliwery_inside .deliwery_left a {
  padding: 20px 25px;
  background-color: #e7272d;
  border-radius: 100px;
  color: #fff;
  font-weight: 600;
  display: inline-block;
  transition: 0.5s;
}
.message .message_container form input[type=submit]:hover, .subscribe .subscribe_text form input[type=submit]:hover, .menues .menu_inside .menu_wrapper .menu .button:hover, .deliwery .deliwery_inside .deliwery_right a:hover, .deliwery .deliwery_inside .deliwery_left a:hover {
  background-color: #fbbe36;
}

nav {
  position: sticky;
  top: 0;
  z-index: 199;
  background-color: #e7272d;
}
nav .nav_inside {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  align-items: center;
  color: #fff;
  font-weight: 600;
  font-family: sans-serif;
}
nav .nav_inside .logo h1 {
  display: inline-block;
  vertical-align: middle;
}
nav .nav_inside .logo a {
  vertical-align: middle;
  display: inline-block;
  width: 61px;
  height: 61px;
}
nav .nav_inside .nav-list {
  display: flex;
}
nav .nav_inside .nav-list .nav_last_child {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #fff;
  color: red;
}
nav .nav_inside .nav-list a {
  padding: 20px;
  text-transform: uppercase;
}

.showcase {
  background-color: #e7272d;
  padding: 50px 0;
  padding-bottom: 200px;
}
.showcase .showcase_inside {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.showcase .showcase_inside div {
  grid-column: 1/span 2;
}
.showcase .showcase_inside div h1 {
  font-size: 100px;
  color: #fff;
  font-weight: 900;
}
.showcase .showcase_inside div p {
  margin: 20px 0;
  color: #fff;
  line-height: 30px;
}
.showcase .showcase_inside div ul {
  padding: 15px 25px 15px 30px;
  background-color: #fbbe36;
  display: inline-block;
}
.showcase .showcase_inside div ul li {
  display: inline-block;
  padding: 0 10px;
  font-size: 25px;
  color: #fff;
  font-weight: 600;
  vertical-align: middle;
}
.showcase .showcase_inside div ul li::before {
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #fff;
  vertical-align: middle;
  margin-right: 10px;
}
.showcase .showcase_inside div ul .last_child {
  font-size: 50px;
  position: relative;
}
.showcase .showcase_inside div ul .last_child::after {
  content: "+";
  height: 20px;
  width: 20px;
  border-radius: 50%;
  padding: 18px;
  background-color: #fff;
  color: #fbbe36;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2px;
  right: -53px;
  font-weight: 100;
}

.deliwery {
  background-color: #fff4e2;
  padding-bottom: 200px;
  background-image: url(../img/combo_card.png);
  background-size: 500px 200px;
  background-repeat: no-repeat;
  background-position: bottom center;
}
.deliwery .deliwery_inside {
  display: flex;
  justify-content: space-between;
}
.deliwery .deliwery_inside .deliwery_left {
  width: 400px;
}
.deliwery .deliwery_inside .deliwery_left p {
  margin: 20px 0;
}
.deliwery .deliwery_inside .deliwery_left a::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  margin-right: 10px;
}
.deliwery .deliwery_inside .deliwery_right {
  width: 400px;
  text-align: right;
}
.deliwery .deliwery_inside .deliwery_right p {
  margin: 20px 0;
}
.deliwery .deliwery_inside .deliwery_right a::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  margin-right: 10px;
}

.combo {
  padding: 50px 0;
}
.combo .combo_title {
  text-align: center;
}
.combo .combo_title + h1 {
  text-align: center;
}
.combo .combo_cards {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.combo .combo_cards .card {
  text-align: center;
  border: 1px solid #808080;
  border-radius: 20px;
  padding: 30px 20px;
  transition: all 0.5s;
}
.combo .combo_cards .card:hover {
  background-color: #e7272d;
  transform: translateY(-50px);
  border: none;
  cursor: pointer;
  color: #fff;
}
.combo .combo_cards .card:hover h1 {
  color: #fff;
}
.combo .combo_cards .card:hover a {
  background-color: #fbbe36;
  border: none;
}
.combo .combo_cards .card:hover img {
  transform: translateY(60px);
}
.combo .combo_cards .card p {
  margin: 20px 0;
}
.combo .combo_cards .card h1 {
  color: #e7272d;
}
.combo .combo_cards .card a {
  padding: 15px 20px;
  border-radius: 100px;
  display: inline-block;
  border: 1px solid #808080;
  margin-top: 30px;
}

.deals .deals_inside {
  text-align: center;
}
.deals .deals_inside .deals_cards {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  margin: 100px 0;
}
.deals .deals_inside .deals_cards .deals_card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 50px 10px;
  background-color: #e7272d;
  border-radius: 10px;
}
.deals .deals_inside .deals_cards .deals_card .texts {
  grid-column: 1/span 2;
  color: #fff;
}
.deals .deals_inside .deals_cards .deals_card .texts h4 {
  color: #fff;
}
.deals .deals_inside .deals_cards .deals_card .texts h2 {
  margin: 20px 0;
}
.deals .deals_inside .deals_cards .deals_card .texts a {
  text-decoration: underline;
}

.circle .circle_inside {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 700px;
  width: 700px;
  background-color: #e7272d;
  border-radius: 50%;
  padding: 100px;
  align-items: center;
  justify-items: center;
}
.circle .circle_inside img {
  grid-row: 1/span 2;
}
.circle .circle_inside .box p {
  font-weight: 600;
  color: #fff;
  margin-top: 20px;
}
.circle .circle_inside .box i {
  font-size: 80px;
  color: #fff;
}

.menues {
  padding: 80px 0;
}
.menues .menu_inside .title {
  text-align: center;
}
.menues .menu_inside .title + h1 {
  text-align: center;
}
.menues .menu_inside .menu_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.menues .menu_inside .menu_wrapper .menu .button {
  margin: 20px 0;
}
.menues .menu_inside .menu_wrapper .menu div h4 {
  display: inline-block;
}
.menues .menu_inside .menu_wrapper .menu div .dotted {
  width: 75%;
  border-bottom: 1px dotted #000;
  display: inline-block;
}
.menues .menu_inside .menu_wrapper .menu div h3 {
  display: inline-block;
  float: right;
}

.gallery {
  background-color: #fff4e2;
  padding-bottom: 50px;
}
.gallery .gallery_inside .title {
  text-align: center;
}
.gallery .gallery_inside .title + h1 {
  text-align: center;
}
.gallery .gallery_inside .images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 50px 0;
}
.gallery .gallery_inside .images img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.team {
  padding: 50px 0;
}
.team .team_inside .title {
  text-align: center;
}
.team .team_inside .title + h1 {
  text-align: center;
}
.team .team_cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 50px;
}
.team .team_cards .team_card {
  background-color: #fff4e2;
  text-align: center;
  padding: 50px;
}
.team .team_cards .team_card img {
  height: 155px;
  width: 155px;
  border-radius: 50%;
}
.team .team_cards .team_card p {
  margin: 30px 0;
}
.team .team_cards .team_card .links i {
  padding: 10px;
  margin: 1px;
  background-color: #fff;
  border-radius: 50%;
}

.faq .faq_inside .title {
  text-align: center;
}
.faq .faq_inside .title + h1 {
  text-align: center;
}
.faq .faq_inside .faq_text {
  width: 50%;
  margin: 0 auto;
  padding: 20px 0;
  border-bottom: 1px solid #000;
}
.faq .faq_inside .faq_text .question {
  display: inline-block;
  vertical-align: middle;
  transition: 0.5s;
  cursor: pointer;
}
.faq .faq_inside .faq_text .question:hover {
  color: green;
}
.faq .faq_inside .faq_text .plus {
  display: inline-block;
  vertical-align: middle;
  float: right;
}

.subscribe {
  margin: 50px 0;
  padding: 50px 0;
  background-color: #fff4e2;
}
.subscribe .subscribe_inside {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}
.subscribe .subscribe_text {
  grid-column: 2/span 2;
}
.subscribe .subscribe_text p {
  margin: 20px 0;
}
.subscribe .subscribe_text form input[type=text] {
  padding: 25px 20px;
  width: 400px;
  border: none;
  outline: none;
  border-radius: 30px;
}
.subscribe .subscribe_text form input[type=submit] {
  cursor: pointer;
  width: 150px;
  padding: 25px 20px;
  border: none;
  outline: none;
  border-radius: 30px;
}

.reward {
  padding: 50px 0;
  text-align: center;
}
.reward .title {
  text-align: center;
}
.reward .title + h1 {
  text-align: center;
}
.reward img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.reward .job {
  margin: 10px 0;
}
.reward .reward_text {
  font-weight: 900;
  font-size: 20px;
}

.play {
  background-image: url(../img/reward_bg.jpg);
  background-attachment: fixed;
  height: 700px;
  background-size: cover;
  position: relative;
}
.play .icon {
  background-color: rgba(0, 0, 0, 0.404);
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.play .icon i {
  font-size: 40px;
  color: #fff;
  background-color: #e7272d;
  padding: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.message {
  padding: 50px 0;
}
.message .message_container {
  width: 50%;
  margin: 0 auto;
}
.message .message_container p {
  margin: 20px 0;
}
.message .message_container form input {
  padding: 20px 0 20px 20px;
  font-size: 20px;
  margin: 5px 0;
}
.message .message_container form input[type=text] {
  width: 48%;
}
.message .message_container form input[type=email] {
  width: 48%;
  margin-left: 1%;
}
.message .message_container form input[type=number] {
  width: 100%;
}
.message .message_container form textarea {
  margin: 5px 0;
  font-size: 20px;
  width: 100%;
  padding: 20px 0 20px 20px;
}
.message .message_container form input[type=submit] {
  cursor: pointer;
  border: none;
}

.last_cards .last_cards_inside {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 50px 0;
}
.last_cards .last_cards_inside .card {
  padding: 50px;
  transition: 0.5s;
  cursor: pointer;
}
.last_cards .last_cards_inside .card:hover {
  box-shadow: 0px 0px 100px 20px rgba(0, 0, 0, 0.411);
}
.last_cards .last_cards_inside .card h2 {
  margin: 20px 0;
}

footer {
  padding: 50px 0;
  background-color: #fff4e2;
}
footer .footer_inside {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer_inside .footer_left ul li {
  display: inline-block;
  padding: 0 10px;
  transition: 0.5s;
}
footer .footer_inside .footer_left ul li:hover {
  color: #e7272d;
}
footer .footer_inside .footer_left .copyright {
  margin-top: 10px;
}
footer .footer_inside .footer_right i {
  padding: 15px;
  border-radius: 50%;
  background-color: #e7272d;
  font-size: 20px;
  color: #fff;
}

.burger_menu {
  display: none;
  width: 50px;
  height: 25px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.burger_menu span {
  background-color: #fff;
  width: 100%;
  height: 2px;
}
.burger_menu.transform .line-1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}
.burger_menu.transform .line-2 {
  display: none;
}
.burger_menu.transform .line-3 {
  transform: rotate(45deg) translate(-7px, -9px);
}

.nav_list_burger {
  display: none;
}
.nav_list_burger.show {
  display: block;
}
.nav_list_burger.show li {
  text-align: center;
  display: block;
  font-size: 30px;
  padding: 10px 0;
  border-radius: 20px;
  margin: 5px 0;
  cursor: pointer;
  color: #fff;
}
.nav_list_burger.show li:hover {
  background-color: #e07575;
}

@media (max-width: 1318px) {
  .menues .menu_inside .menu_wrapper .menu div .dotted {
    display: none;
  }
}
@media (max-width: 1164px) {
  .showcase .showcase_inside div ul li {
    display: block;
  }

  .showcase .showcase_inside div ul {
    display: block;
  }

  .team .team_cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery .gallery_inside .images {
    grid-template-columns: repeat(2, 1fr);
  }

  .showcase .showcase_inside {
    grid-template-columns: repeat(2, 1fr);
  }

  .showcase .showcase_inside img {
    grid-column: 1/span 2;
  }

  .subscribe .subscribe_text form input[type=text] {
    width: 100%;
    display: block;
  }

  .subscribe .subscribe_text form input[type=submit] {
    width: 100%;
    display: block;
    margin-top: 20px;
  }

  .last_cards .last_cards_inside {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1000px) {
  .deliwery .deliwery_inside {
    flex-direction: column;
    align-items: center;
  }

  .deliwery .deliwery_inside .deliwery_right {
    text-align: left;
  }

  .combo .combo_cards {
    grid-template-columns: repeat(2, 1fr);
  }

  nav .nav_inside .nav-list {
    display: none;
  }

  .burger_menu {
    display: flex;
  }

  .faq .faq_inside .faq_text {
    width: 100%;
  }

  .message .message_container {
    width: 80%;
    margin: 0 auto;
  }

  .message .message_container form input[type=text] {
    width: 100%;
  }

  .message .message_container form input[type=email] {
    width: 100%;
    margin-left: 0;
  }
}
@media (max-width: 800px) {
  .combo .combo_cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .deals .deals_inside .deals_cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .menues .menu_inside .menu_wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .gallery .gallery_inside .images {
    grid-template-columns: repeat(1, 1fr);
  }

  .team .team_cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .subscribe .subscribe_inside {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
  }

  .subscribe .subscribe_text {
    margin-top: 20px;
    grid-column: 1/span 1;
  }

  .last_cards .last_cards_inside {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  footer .footer_inside {
    flex-direction: column;
    height: 200px;
  }

  .circle {
    display: none;
  }
}
@media (max-width: 533px) {
  footer .footer_inside .footer_left ul {
    text-align: center;
  }
  footer .footer_inside .footer_left ul li {
    display: block;
    margin: 10px 0;
  }
}
@media (max-width: 400px) {
  .deliwery .deliwery_inside .deliwery_left h1, .deliwery .deliwery_inside .deliwery_right h1, .combo .combo_title + h1, .deals .deals_inside .deals_title + h1, .menues .menu_inside .title + h1, .gallery .gallery_inside .title + h1, .team .team_inside .title + h1, .faq .faq_inside .title + h1, .reward .title + h1 {
    font-family: "Barlow", sans-serif;
    font-size: 2rem;
    line-height: 1.1;
    font-weight: 900;
    color: #232323;
    text-align: center;
    width: 100%;
  }

  .deliwery .deliwery_inside .deliwery_left .deliwery_title, .deliwery .deliwery_inside .deliwery_right .deliwery_title, .combo .combo_title, .deals .deals_inside .deals_title, .deals .deals_inside .deals_cards .deals_card .texts h4, .menues .menu_inside .title, .gallery .gallery_inside .title, .team .team_inside .title, .faq .faq_inside .title, .reward .title {
    color: #e7272d;
    font-family: "Permanent Marker", cursive;
    font-size: 1.6rem;
    line-height: 1.4;
    font-weight: 500;
    text-align: center;
  }

  .showcase .showcase_inside div h1 {
    font-size: 50px;
    color: #fff;
    font-weight: 900;
  }

  .deliwery .deliwery_inside .deliwery_right {
    width: 100%;
  }

  .deliwery .deliwery_inside .deliwery_left {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
